{% extends "layout.html" %}
{% block title %} Add new activity{% endblock %}
{% block content %}
<h2>Add new activity</h2>
{% if error_message %}
<p>{{ error_message }}</p>
{% endif %}

<form action="/add_activity" method="POST">
    Sport:
    <p>
        <input type="radio" name="sport" value="1"> Walk
        <input type="radio" name="sport" value="2"> Run
        <input type="radio" name="sport" value="3"> Cycling
    </p>
    Route:
    <p>
        <select name="routes" id="route">
        <option value="0">Select route</option>
        {% for route in route_list %}
        <option value={{route.id}}>{{route.name}}</option>
        {% endfor %}
        </select>
    </p>
    Time (hh:mm:ss)
    <p>
        <input type="text" name="time">
    </p>
    Comment
    <p>
        <input type="text" name="comment">
    </p>
    <input type="submit" value="Add activity">
</form><br>
{%endblock %}