{% extends "layout.html" %}
{% block title %} Community page{% endblock %}
{% block content %}
<h3>Leaderboards:</h3>
<ul>
    <li><a href="/leaderboard/1/1">Users</a></li>
    <li><a href="/leaderboard/2/1">Groups</a></li>
</ul>
<h3>Your groups:</h3>
<ul>
    {% for group in user_groups %}
    <li>
        <a href="/group/{{ group.id }}">{{ group.name }}</a>
    </li>
    {% endfor %}
</ul>
<a href="/join_group">Join group</a><br>
{% if user_groups %}
<a href="/leave_group">Leave group</a><br>
{% endif %}
<a href="/create_group">Create a new group</a>
{%endblock %}