<h1> Sports activity app</h1>
<br>
<h3>Create profile</h3>
{% if session.password_error %}
<p>Passwords didn't match</p>
{% elif session.username_error %}
<p>Username {{session.attempted_user}} is not available</p>
{% endif %}

<form action="/add_user" method="POST">
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password1"></p>
<p>Re-type password:<br>
<input type="password" name="password2"></p>
<input type="submit" value="Create account">
</form>

