<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

{% extends "layout.html" %}
{% block title %} Log in or create an account {% endblock %}
{% block content %}
<h2>Your last 5 activities</h2>
{% if own_list %}
<table>
    <tr>
        <th>Sport</th>
        <th>Route</th>
        <th>Length</th>
        <th>Duration</th>
        <th>Date and time</th>
        <th>Comments</th>
    </tr>
    {% for activity in own_list %}
    <tr>
        <td>{{activity[1]}}</td>
        <td>{{activity[2]}}</td>
        <td>{{activity[3]}}</td>
        <td>{{activity[4]}}</td>
        <td>{{activity[5]}}</td>
        <td>{{activity[6]}} - <a href="/activity/{{activity[0]}}/activity_comments">Show</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>You don't have any recorded activities yet.</p>
{% endif %}
<a href="/add_activity">Add activity</a> - 
<a href="/user/{{session.user_id}}/all_activities">All activities</a><br><br>
<h2>Last 5 activities by users in your groups</h2>
<p>Activities by private users are hidden.</p><br>
{% if groups_list %}
<table>
    <tr>
        <th>User</th>
        <th>Sport</th>
        <th>Route</th>
        <th>Length</th>
        <th>Duration</th>
        <th>Date and time</th>
        <th>Comments</th>
    </tr>
    {% for activity in groups_list %}
    <tr>
        <td><a href="/user/{{activity[8]}}">{{activity[1]}}</a></td>
        <td>{{activity[2]}}</td>
        <td>{{activity[3]}}</td>
        <td>{{activity[4]}}</td>
        <td>{{activity[5]}}</td>
        <td>{{activity[6]}}</td>
        <td>{{activity[7]}} - <a href="/activity/{{activity[0]}}/activity_comments">Show</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Users in your groups don't have any recorded activities yet.</p>
{% endif %}
<a href="/add_activity">Add activity</a> - <a href="/all_user_group_activities">All member group activities</a><br>
{%endblock %}