<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>

{% extends "layout.html" %}
{% block title %} Community page{% endblock %}
{% block content %}
<h2>{{ group_name }}</h2>
<h3>General statistics</h3>
<table>
    <tr>
        <th>Total distance</th>
        <th>Distance walked</th>
        <th>Distance ran</th>
        <th>Distance cycled</th>
        <th>Total duration</th>
    </tr>
    <tr>
        <td>{{group_overview[1]}}</td>
        <td>{{group_overview[2]}}</td>
        <td>{{group_overview[3]}}</td>
        <td>{{group_overview[4]}}</td>
        <td>{{group_overview[5]}}</td>
    </tr>
</table>
<h3>Members</h3>
<ul>
{% for user in group_members %}
<li>{{ user.username }}</li>
{% endfor %}
</ul>
{%endblock %}
