<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>

{% extends "layout.html" %}
{% block title %} Community page{% endblock %}
{% block content %}
<h2>{{ group_name }}</h2>
{% if admin_rights %}
<a href="/group/{{group_id}}/manage">Manage group</a>
{% endif %}
<br><br>
<h3>General statistics</h3>

<table>
  <tr>
    <th>Total distance</th>
    <th>Distance walked</th>
    <th>Distance ran</th>
    <th>Distance cycled</th>
    <th>Total duration</th>
  </tr>
  <tr>
    <td>{{group_overview[0]}}</td>
    <td>{{group_overview[1]}}</td>
    <td>{{group_overview[2]}}</td>
    <td>{{group_overview[3]}}</td>
    <td>{{group_overview[4]}}</td>
  </tr>
</table>
<h2>Group's last 5 activities</h2>
{% if group_acts %}
<table>
    <tr>
        <th>User</th>
        <th>Sport</th>
        <th>Route</th>
        <th>Length</th>
        <th>Duration</th>
        <th>Date and time</th>
        <th>Comments</th>
    </tr>
    {% for activity in group_acts %}
    <tr>
        <td><a href="/user/{{activity[8]}}">{{activity[1]}}</a></td>
        <td>{{activity[2]}}</td>
        <td>{{activity[3]}}</td>
        <td>{{activity[4]}}</td>
        <td>{{activity[5]}}</td>
        <td>{{activity[6]}}</td>
        <td>{{activity[7]}} - <a href="/activity/{{activity[0]}}/activity_comments">Show</a></td>
    </tr>
    {% endfor %}
</table>
<a href="/group/{{group_id}}/all_activities">All group activities</a>
{% else %}
<p>Members of {{group_name}} don't have any recorded activities yet.</p>
{% endif %}
<h3>Members</h3>
<ul>
  <li><a href="/user/{{group_owner.id}}">{{ group_owner.username }}</a> (owner)</li>
  <br>
  {% for admin in group_admins %}
  {%if admin.username != group_owner.username%}
  <li><a href="/user/{{admin.id}}">{{ admin.username }}</a> (admin)</li>
  {% endif %}
  {% endfor %}
  <br>
  {% for user in group_members %}
  <li><a href="/user/{{user.id}}">{{ user.username }}</a></li>
  {% endfor %}
</ul>
{%endblock %}