<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

{% extends "layout.html" %}
{% block title %} All activities {% endblock %}
{% block content %}
<h2>Group Leaderboard</h2>
<p>Only users whose profiles are public are counted towards a group's totals.</p><br>
{% if group_list %}
<table>
    <tr>
        <th>Group</th>
        <th><a href="/leaderboard/1/1">Total distance</a> {{ordered[0]}}</th>
        <th><a href="/leaderboard/1/2">Distance walked</a> {{ordered[1]}}</th>
        <th><a href="/leaderboard/1/3">Distance ran</a> {{ordered[2]}}</th>
        <th><a href="/leaderboard/1/4">Distance cycled</a> {{ordered[3]}}</th>
        <th><a href="/leaderboard/1/5">Total duration</a> {{ordered[4]}}</th>
    </tr>
    {% for group in group_list %}
    <tr>
        <td>{{group[0]}}</td>
        <td>{{group[1]}}</td>
        <td>{{group[2]}}</td>
        <td>{{group[3]}}</td>
        <td>{{group[4]}}</td>
        <td>{{group[5]}}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No groups with activities.</p>
{% endif %}
{%endblock %}