<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>

{% extends "layout.html" %}
{% block title %} user leaderboard {% endblock %}
{% block content %}
<h2>User leaderboard</h2>
{% if activity_list %}
<table>
  <tr>
    <th>Sport</th>
    <th>Route</th>
    <th>Length</th>
    <th>Duration</th>
    <th>Date and time</th>
    <th>Comments</th>
  </tr>
  {% for activity in activity_list %}
  <tr>
    <td>{{activity[1]}}</td>
    <td>{{activity[2]}}</td>
    <td>{{activity[3]}}</td>
    <td>{{activity[4]}}</td>
    <td>{{activity[5]}}</td>
    <td>{{activity[6]}} - <a href="/activity/{{activity[0]}}/activity_comments">Show</a></td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>You don't have any recorded activities yet.</p>
{% endif %}
<a href="/add_activity">Add activity</a>
{%endblock %}