<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>

{% extends "layout.html" %}
{% block title %} Community page{% endblock %}
{% block content %}
<h2>{{ username }} ({{ user_public }})</h2>
{% if user_id == session["user_id"] %}
    {% if user_public %}
        <form action="/user/{{user_id}}" method="POST">       
            <input type="hidden" name="make_profile" value="private">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"><br>
            <input type="submit" value="Make profile private">
        </form>
    {% else %}
    <form action="/user/{{user_id}}" method="POST">      
        <input type="hidden" name="make_profile" value="public">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"><br>
        <input type="submit" value="Make profile public">
    </form>
    {% endif %}
{% endif %}
<h3>General statistics</h3>
<table>
    <tr>
        <th>Total distance</th>
        <th>Distance walked</th>
        <th>Distance ran</th>
        <th>Distance cycled</th>
        <th>Total duration</th>
    </tr>
    <tr>
        <td>{{user_overview[0]}}</td>
        <td>{{user_overview[1]}}</td>
        <td>{{user_overview[2]}}</td>
        <td>{{user_overview[3]}}</td>
        <td>{{user_overview[4]}}</td>
    </tr>
</table>
{%endblock %}
